body{
  background-color: cornflowerblue;
}
.container{
    position:fixed;
    top:0; left:0;
    min-width:100%;
    min-height:100%;
    width:auto;
    height:auto;
    z-index:-1;
}
.main-txt{
  position: absolute;
  font-size:3.5rem;
  color:olivedrab;
  padding:800px 0 0 1650px;
}
.contents{
  height:250px; 
  padding:20px; margin:0;
  background-color: cornsilk;
}
.contents:hover .container{
  filter: blur(2.5px);
  transition:.5s;
}
.contents h1{
  color:olivedrab;
  text-align: start;
  padding-left:40px;
}
.con-list{
  list-style: none;
  line-height:2.5rem;
  text-align: start;
  font-size:1.2rem;
}


.back{
  margin: 0; padding:0;
  background-size: cover;
}
.App {
  text-align: center;
}
.con-img{
  margin:auto; padding:auto;
  margin-top:250px;
  background: linear-gradient(to right,cornsilk 50%, pink 100%);
  padding-bottom:20px;
}
.img-1{
  padding:60px 0 0 415px;
  width:60%;
  height:650px;
}
.M-btn{
  padding:10px 0 0 415px;
}
.btn{
  width:65px; height:30px;
  border-radius:50px;
  background-color: peachpuff;
  color:cornflowerblue;
  font-weight: bold;
  text-align: center;
  padding-top:5px;
  cursor:pointer;
}
.f-music{
  align-items: center;
  margin-top:250px;
  
  background: linear-gradient(to right,cornsilk 50%, pink 100%);
  
}
.music{
  align-items: center;
  padding-top:50px;
  padding-left:450px;
  padding-bottom:50px;
  
}
.m-info{
  background-color:peachpuff;
  width:200px; height:100px;
  border-radius: 45px;
  text-align: center;
}
.music-title{
  padding-top:15px;
}

















@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
